// Fonts
$primary-font: 'Monster-Reg', sans-serif;
$primary-font-semibold: 'Monster-Semi-Bold', sans-serif;
$primary-bold: 'Monster-Bold', sans-serif;
$secondary-font: 'Staat-Regular', sans-serif;

// Color
$primary-color: #FFBC39;
$secondary-color : #9E361B;
$white: #fff;
$black: #000;

//icomoon
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrowdown2: "\e902";
$icon-eye: "\e903";
$icon-facebook: "\e904";
$icon-sendBtn: "\e906";
$icon-music1: "\e905";
$icon-location1: "\e908";
$icon-redheart: "\e909";
$icon-heart1: "\e907";
$icon-instagram: "\e90a";
$icon-message2: "\e90b";
$icon-microphone2: "\e90d";
$icon-share: "\e90c";
$icon-usersquare: "\e910";
$icon-youtube: "\e90f";
$icon-phone: "\e900";
$icon-email: "\e901";
$icon-bell: "\e90e";
$icon-expand: "\e911";
$icon-download3: "\e912";
$icon-download2: "\e913";
$icon-xmark: "\e914";






