.hero-banner {
  .specificSection {
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* margin: 20vh auto; */
    background-color: transparent;
    overflow: hidden;
    z-index: 2;
    border: 0;
    top: 0;
  }
  .fp-overflow {
    overflow-x: hidden;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  &__video {
    height: 100vh;
    position: relative;
    .swiper-slide {
      &::after {
        content: "";
        position: absolute;
        top: -2.2%;
        left: -1.1%;
        width: 50%;
        height: 100vh;
        background: linear-gradient(
          180deg,
          rgba(59, 0, 225, 0) -2.48%,
          rgba(44, 0, 42, 0.8) 100%
        );
        transform: rotate(90deg);
        z-index: 1;
        // Medium Desktop screen size
        @include breakpoint(medium-large-desktop-max) {
          height: unset;
          left: -3.5%;
          bottom: 11%;
        }
      }
      &::before {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.4) 10.65%,
          rgba(0, 0, 0, 0) 54.86%,
          rgba(17, 0, 123, 0.3) 100%
        );
        z-index: 1;
      }
    }
    video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
    .thumb-wrap {
      @include horizontal-center-transform;
      z-index: 3;
      bottom: 1rem;
      padding: 4rem 0;

      // Medium Desktop screen size
      @include breakpoint(medium-large-desktop-max) {
        left: 60%;
      }
      .swiper-slide {
        transition: all 0.2s ease-in-out;
        cursor: pointer;
      }
    }
    .slider-thumbnail {
      max-width: 450px;
      overflow: hidden;
    }
  }
  &__desc {
    position: absolute;
    top: 15rem;
    left: 2rem;
    z-index: 2;
    max-width: 464px;
    min-width: 464px;

    // Medium Desktop screen size
    @include breakpoint(medium-large-desktop-max) {
      top: 8rem;
      max-width: 420px;
      min-width: 200px;
      display: flex;
      flex-direction: column;
    }

    img {
      max-width: 450px;
      @include breakpoint(medium-large-desktop-max) {
        align-self: center;
        max-width: 280px;
      }
    }
    &__time {
      font-family: $primary-bold;
      margin-top: 9px;
      font-size: 4rem;
      text-align: center;
      margin-bottom: 0;
      // Medium Desktop screen size
      @include breakpoint(medium-large-desktop-max) {
        font-size: 3rem;
        text-align: center;
      }
    }
    &__votes {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 5rem;
      // Medium Desktop screen size
      @include breakpoint(medium-large-desktop-max) {
        margin-top: 0rem;
      }
      > ul {
        li {
          margin-right: 2rem;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      span {
        font-family: $secondary-font;
        font-size: 1.8rem;
        color: $white;
        text-transform: uppercase;
        line-height: normal;
        display: inline-block;
        margin-left: 1rem;
      }
    }
    &__details {
      margin-top: 2rem;
      margin-bottom: 4rem;
      // Medium Desktop screen size
      @include breakpoint(medium-large-desktop-max) {
        margin-top: 0;
        margin-bottom: 0rem;
      }
      p {
        color: $white;
        font-family: $primary-font-semibold;
        font-size: 1.6rem;
        font-style: normal;
        line-height: 24px; /* 150% */
        text-transform: capitalize;
        margin: 0;
        // Medium Desktop screen size
        @include breakpoint(medium-large-desktop-max) {
          font-size: 1.4rem;
        }
        span {
          color: #ffbc39;
          font-size: 2rem;
          // Medium Desktop screen size
          @include breakpoint(medium-large-desktop-max) {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

img {
  width: 100%;
}

.swiper-container {
  width: 100%;
  &.slider {
    height: 100vh;
  }
  &.slider-thumbnail {
    .swiper-wrapper {
      .swiper-slide {
        overflow: hidden;
        &.swiper-slide-thumb-active {
          transform: scale(1.2);
          z-index: 1;
        }
      }
    }
  }
}

.shows-section {
  background: linear-gradient(359deg, #3246bc -32.48%, #000 80.12%);
  // &.fp-is-overflow > .fp-overflow {
  //     overflow-x: hidden !important;
  // }
  .fp-overflow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  .page-title {
    padding: 5rem 2rem;
    // Medium Desktop screen size
    @include breakpoint(medium-large-desktop-max) {
      padding: 2rem 2rem;
    }
  }

  &__tabs {
    border: 0;
    padding: 0;
    position: relative;
    li + li {
      margin-left: 1rem;
    }
    .page-title {
      font-family: $primary-font;
      font-size: 2.6rem;
      line-height: normal;
      color: #d9d9d9;
      // Medium Desktop screen size
      @include breakpoint(medium-large-desktop-max) {
        font-size: 2.2rem;
      }
    }
    .nav-link {
      padding: 0;
      transition: all 0.2s ease-in-out;
      border: 0;
    }
    .nav-link.active {
      font-family: $primary-bold;
      background-color: transparent;
      border: 0;
      & .page-title {
        transition: all 0.2s ease-in-out;
        font-family: $primary-bold;
        font-weight: 700;
        color: $primary-color;
        // Medium Desktop screen size
        @include breakpoint(medium-large-desktop-max) {
          font-size: 2.2rem;
        }
      }
    }
  }
  &__oldNewShows {
    flex: 1 !important;
  }
  &__popularEpisodes {
    flex: 1 !important;
  }

  .accordion {
    display: flex;
    overflow-x: hidden;
    // height: 360px;
    height: 100%;
    // Medium Desktop screen size
    @include breakpoint(medium-large-desktop-max) {
      height: 100%;
    }
    .item {
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      flex: 1;
      transition: flex 400ms;
      height: 100%;
      &:nth-child(4n + 1) {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.99) 100%
          );
          width: 100%;
          height: 50%;
        }
      }
      &:nth-child(4n + 2) {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(136, 6, 86, 0.63) 100%
          );
          width: 100%;
          height: 50%;
        }
      }
      &:nth-child(4n + 3) {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(50, 70, 188, 0.66) 100%
          );
          width: 100%;
          height: 50%;
        }
      }
      &:nth-child(4n + 4) {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(236, 39, 3, 0.65) 100%
          );
          width: 100%;
          height: 50%;
        }
      }
      &:hover {
        flex-basis: 50rem;
        .overlay-inner {
          position: relative;
        }
        .accordion__title {
          margin-bottom: 6.5rem;
        }
        .accordion__subtitle {
          opacity: 1;
          bottom: 6rem;
          left: 1.5rem;
        }
        .accordion__codeNo {
          left: 1.5rem;
          bottom: 10px;
          opacity: 1;
        }
        .accordion__socio-content {
          left: 5rem;
          bottom: 10px;
          li {
            &:last-child {
              opacity: 1;
            }
          }
        }
        .accordion__youtube {
          bottom: 10px;
          right: 1.5rem;
          opacity: 1;
        }
      }
      .overlay {
        height: 100%;
        .overlay-inner {
          position: relative;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: end;
          align-items: flex-start;
          z-index: 1;
          padding: 1.5rem;
        }
      }
    }
    &__title {
      color: $white;
      text-shadow: 0px 4px 11px rgba(0, 0, 0, 0.6);
      font-family: $primary-bold;
      font-size: 2.2rem;
      // Medium Desktop screen size
      @include breakpoint(medium-large-desktop-max) {
        font-size: 1.6rem;
      }
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 15px;
      transition: all 400ms ease-in-out;
      width: 100%;
    }
    &__subtitle {
      color: $white;
      white-space: nowrap;
      text-shadow: 0px 4px 11px rgba(0, 0, 0, 0.6);
      font-family: $primary-font;
      // font-size: 1.4rem;
      // Medium Desktop screen size
      @include breakpoint(medium-large-desktop-max) {
        font-size: 1rem;
      }
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: lowercase;
      width: calc(100% - 3rem);
      transition: all 400ms ease-in-out;
      opacity: 0;
      position: absolute;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1.5rem;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
    &__codeNo {
      color: $primary-color;
      font-family: $secondary-font;
      font-size: 1.6rem;
      // Medium Desktop screen size
      @include breakpoint(medium-large-desktop-max) {
        font-size: 1.2rem;
      }

      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      opacity: 0;
      position: absolute;
      left: 0;
      bottom: 10px;
      transition: all 400ms ease-in-out;
      margin: 0;
    }
    &__socio-content {
      position: absolute;
      left: 1.5rem;
      bottom: 10px;
      transition: all 400ms ease-in-out;
      li:not(:first-child) {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: -1.5rem;
          bottom: 0;
          width: 1px;
          height: 100%;
          background-color: white;
        }
      }
      li {
        margin-right: 3rem;
        display: flex;
        align-items: center;
        span {
          color: $white;
          font-family: $secondary-font;
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
        }
        span:not(:last-child) {
          margin-right: 3px;
        }
        &:last-child {
          opacity: 0;
        }
      }
    }
    &__youtube {
      position: absolute;
      bottom: 10px;
      right: -100%;
      transition: all 400ms ease-in-out;
      color: $primary-color;
      font-family: $secondary-font;
      font-size: 1.6rem;

      // Medium Desktop screen size
      @include breakpoint(medium-large-desktop-max) {
        font-size: 1.2rem;
      }
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0;
      margin: 0;
      a {
        display: flex;
        align-items: center;
        img {
          width: 20px;
          height: 20px;
          margin-left: 3px;
        }
      }
    }
  }
}
.triangle {
  border-bottom: 1px solid $primary-color;
  width: 5%;
  height: 1px;
  left: -12px;
  bottom: 34px;
  position: absolute;
  transition: 0.2s linear;
  // Medium Desktop screen size
  @include breakpoint(medium-large-desktop-max) {
    bottom: 14px;
  }
}
.rect {
  transition: 0.2s linear;
  position: absolute;
  border-bottom: 10px solid $primary-color;
  width: 4%;
  height: 10px;
  left: 30px;
  bottom: 30px;
  // Medium Desktop screen size
  @include breakpoint(medium-large-desktop-max) {
    bottom: 10px;
  }
}

.schedule {
  background: url("/assets/images/schedule.gif");
  // background: url('https://dev.sonymarathi.com/images/schedule.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top center;
  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    &__leftBlock {
      width: calc(100% - 45%);
      position: relative;
      margin: auto 0;
      &::after {
        height: 100%;
        position: absolute;
        content: "";
        width: 100%;
        left: 0;
        top: 0;
        border: 12px solid #fff;
        mix-blend-mode: soft-light;
      }
      &--border {
        img {
          padding: 1rem;
        }
      }
      &--timing {
        position: absolute;
        right: -15%;
        top: -15%;
        z-index: 5;

        p {
          color: $white;
          text-align: center;
          font-family: $primary-bold;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
          margin-bottom: 0;
        }
        .name-plate {
          background: url("/assets/images/nameplate.png") no-repeat;
          background: url(/assets/images/nameplate.png) no-repeat;
          width: 361px;
          height: 113px;
          object-fit: contain;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #9e361b;
          font-family: $primary-bold;
          font-size: 44px;
          font-style: normal;
          line-height: normal;
          text-transform: uppercase;
        }
      }
    }
    &__rightBlock {
      width: calc(100% - 55%);
      height: 100vh;
      // height: 100%;
      overflow-x: hidden;
      overflow-y: hidden;
      &__heads {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 2rem 5rem;
        flex-direction: column;
        .nav-tabs {
          .nav-link {
            color: #7f0404;
            font-family: $primary-bold;
            font-size: 3.2rem;
            font-style: normal;
            line-height: normal;
            letter-spacing: 3.2px;
            text-transform: uppercase;
            text-shadow: 1px 0 $primary-color, -1px 0 $primary-color,
              0 1px $primary-color, 0 -1px $primary-color,
              1px 1px $primary-color, -1px -1px $primary-color,
              1px -1px $primary-color, -1px 1px $primary-color;
            transition: all 400ms ease-in-out;
            &:hover,
            &.active {
              text-shadow: 1px 0 transparent, -1px 0 transparent,
                0 1px transparent, 0 -1px transparent, 1px 1px transparent,
                -1px -1px transparent, 1px -1px transparent,
                -1px 1px transparent;
              color: $primary-color;
            }
          }
        }
      }
      #today {
        width: 100%;
        padding-left: 5.5rem;
        position: absolute;
        bottom: 35px;
        // bottom: 0px;
        // bottom: 70px;
        
        .myScheduleSwiper {
          // margin-right: -50px;
          margin-right: -50px;
          cursor: grab !important;
          .show-information {
            padding-left: 4rem;
            p {
              color: #fff;
              font-family: $primary-bold;
              font-size: 22px;
              font-style: normal;
              line-height: normal;
              text-transform: uppercase;
              margin-bottom: 0;
              // Medium Desktop screen size
              @include breakpoint(medium-large-desktop-max) {
                font-size: 18px;
              }
            }
            .date-time {
              color: #fff;
              font-family: $primary-bold;
              font-size: 42px;
              font-style: normal;
              line-height: normal;
              text-transform: uppercase;
              // Medium Desktop screen size
              @include breakpoint(medium-large-desktop-max) {
                font-size: 22px;
              }
            }
          }
        }
      }
    }
  }
}

.shows-swiper {
  height: 100%;
  .swiper-wrapper {
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.8s;
    /* margin-left: 30px; */
    // margin-top: 0.5rem;
    // margin-bottom: 0.5rem;
    max-width: 260px;
    height: 28rem;
    overflow: hidden;
    // Medium Desktop screen size
    @include breakpoint(medium-large-desktop-max) {
      // height: 18rem;
      // height: 22rem;
      height: 100%;
      min-height: 18rem;
      max-width: 16rem;
    }
  }

  .swiper-slide:nth-child(6n + 1) {
    border: 1px solid #1859bb;
  }

  .swiper-slide:nth-child(6n + 1):hover {
    background-color: #1859bb;
    box-shadow: #1859bb 0px 0px 32px;
    transition: all 0.8s;
  }

  .swiper-slide:nth-child(6n + 2) {
    border: 1px solid #c17214;
  }

  .swiper-slide:nth-child(6n + 2):hover {
    background-color: #c17214;
    box-shadow: #c17214 0px 0px 32px;
    transition: all 0.8s;
  }

  .swiper-slide:nth-child(6n + 3) {
    border: 1px solid #860306;
  }

  .swiper-slide:nth-child(6n + 3):hover {
    background-color: #860306;
    box-shadow: #860306 0px 0px 32px;
    transition: all 0.8s;
  }

  .swiper-slide:nth-child(6n + 4) {
    border: 1px solid #880656;
  }

  .swiper-slide:nth-child(6n + 4):hover {
    background-color: #880656;
    box-shadow: #880656 0px 0px 32px;
    transition: all 0.8s;
  }

  .swiper-slide:nth-child(6n + 5) {
    border: 1px solid #9e361b;
  }

  .swiper-slide:nth-child(6n + 5):hover {
    background-color: #9e361b;
    box-shadow: #9e361b 0px 0px 32px;
    transition: all 0.8s;
  }

  .swiper-slide:nth-child(6n + 6) {
    border: 1px solid #2a4d96;
  }

  .swiper-slide:nth-child(6n + 6):hover {
    background-color: #2a4d96;
    box-shadow: #2a4d96 0px 0px 32px;
    transition: all 0.8s;
  }

  .swiper-slide:hover .image-wrapper {
    height: 135px;
    transition: all 0.5s;
    // Medium Desktop screen size
    @include breakpoint(medium-large-desktop-max) {
      height: 8rem;
    }
  }

  .image-wrapper {
    width: 90%;
    height: 150px;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint(medium-large-desktop-max) {
      height: 9rem;
    }
  }

  .image-wrapper img {
    object-fit: contain;
    width: 60%;
    height: auto;
  }

  .show-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 18px;
    position: relative;
    color: white;
    font-family: $primary-bold;
    font-size: 2rem;
    line-height: normal;
    // Medium Desktop screen size
    @include breakpoint(medium-large-desktop-max) {
      font-size: 1.4rem;
    }
  }

  .swiper-slide:hover .show-information {
    font-size: 2.2rem;
    // Medium Desktop screen size
    @include breakpoint(medium-large-desktop-max) {
      font-size: 1.6rem;
    }
  }

  .more-btn a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    background-color: #ffbc39;
    padding: 5px 10px;
    width: 100%;
    font-size: 1.4rem;
    font-family: $primary-font;
    font-family: 500;
    // Medium Desktop screen size
    @include breakpoint(medium-large-desktop-max) {
      font-size: 1.2rem;
      padding: 2px 8px;
    }
  }

  .more-btn {
    position: absolute;
    bottom: -100%;
    transition: all 0.8s;
  }

  .swiper-slide:hover .more-btn {
    bottom: 4%;
    transition: all 0.8s;
  }
}

.fasion-hub {
  background: linear-gradient(67deg, #9e0278 17.58%, #e9054d 57.17%);
  &__top,
  &__bottom {
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    .aspect-container__wrapper {
      transition: all 1s ease-in-out;
      img {
        position: absolute;
        width: 0;
        // display: none;
        transition: all 1s ease-in-out;
      }
    }
  }
  &__top {
    position: relative;
    position: relative;
    transition: all 3s ease-in-out;
    &::after {
      position: absolute;
      content: "";
      width: 390px;
      height: 63px;
      border-radius: 0px 80px 0px 0px;
      background: linear-gradient(60deg, #9e0278 10.42%, #2d306a 43.49%);
      left: 0;
      bottom: 0;
      // top: -63px;
      z-index: 3;
      transition: all 2s ease-in-out;
    }

    .fasion-hub__landscape {
      width: 50%;
      height: 50vh;
    }
    .fasion-hub-casts {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 5;
      transition: all 1.5s ease-in-out;
      &__fullscreen {
        background: transparent;
        border: 0;
        position: absolute;
        right: -50px;
        bottom: 5px;
        font-size: 3rem;
      }
      ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: -8rem;
        position: relative;
        li {
          width: 87.541px;
          height: 87.541px;
          border-radius: 87.541px;
          margin-right: 1rem;
          cursor: pointer;
          // border: 2px solid rgba(255, 255, 255, 0.40);
        }
      }
      &.remove-trigger-cast {
        transition: all 3s ease-in-out;
        left: -100%;
        z-index: 0;
      }
    }
  }
  &__bottom {
    position: relative;
    transition: all 3s ease-in-out;
    &::after {
      position: absolute;
      content: "";
      width: 390px;
      height: 63px;
      border-radius: 0px 80px 0px 0px;
      background: linear-gradient(60deg, #9e0278 10.42%, #2d306a 43.49%);
      left: 0;
      top: -63px;
      z-index: 3;
      transition: all 2s ease-in-out;
    }
    .fasion-hub__details__portrait {
      width: 30%;
      // height: 50vh;
      // height: 100%;
    }
    .fasion-hub__landscape {
      width: 40%;
      // height: 50vh;
      // height: 100%;
      .aspect-container__p56 {
        padding-bottom: 59.9%;
      }
    }
    &.open-cast-sidebar {
      transition: all 3s ease-in-out;
      position: relative;
      &::after {
        width: 95%;
        height: calc(50vh + 63px);
        transition: all 1s ease-in-out;
      }
    }
  }
  &__details {
    min-width: 318px;
    width: 100%;
    max-width: 318px;
    height: 100%;
    padding: 10px;
    .blur-heading {
      font-size: 5rem;
    }
    .char-name {
      color: $primary-color;
      text-align: right;
      font-family: $primary-bold;
      font-size: 42px;
      font-style: normal;
      line-height: 41px; /* 97.619% */
      text-transform: uppercase;
      margin-bottom: 5px;
      margin-top: 0;
      transition: all 0.2s ease-in-out;
      min-height: 85px;
    }
    .show-name {
      margin-top: 0;
      margin-bottom: 2rem;
      color: #fff;
      font-family: $primary-font-semibold;
      font-size: 1.6rem;
      font-style: normal;
      line-height: normal;
      text-transform: capitalize;
      text-align: right;
    }
    .social-icons {
      margin-bottom: 6px;
      text-align: right;
      li {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        span {
          color: $white;
          font-family: $secondary-font;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
          &:first-child {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}

.IncreaseWidth {
  animation: incwidth 0.5s forwards;
  // z-index: 1;
}
.DecreaseWidth {
  animation: decwidth 0.9s forwards;
  transform-origin: left center;
  // z-index: -1;
}

@keyframes incwidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes decwidth {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.games {
  background: url("/assets/images/bg-game.png") no-repeat top center;
  background-size: cover;
}


.videoSlider {
  background: linear-gradient(0deg, #3246bc -87.45%, #560035 100%);
  height: 100vh;
  max-height: 100vh;
  h3 {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
    // Medium Desktop screen size
    @include breakpoint(medium-large-desktop-max) {
      font-size:2.2rem;
    }
  }
  a {
    text-decoration: none;
  }
  .videoSlider__trendingNow {
    padding: 2rem 0 2rem 4rem;
    height: 50%;
    background: rgba(0, 0, 0, 0.2);
    &-slider {
      height: calc(100% - 55px);
      .trendingVideoSwiper {
        height: 100%;
        .swiper-wrapper {
          height: inherit;
        }
      }
      .image-wrapper {
        border-radius: 20px;
        overflow: hidden;
        height: calc(100% - 30%);
        max-height: 280px;
        aspect-ratio: 1.73 / 1;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .video__detail {
        p {
          padding: 10px;
          span {
            color: #fff;
            display: block;
            font-size: 18px;
            line-height: 26px;
          }
        }
      }
    }
  }
  .videoSlider__highlight {
    height: 50%;
    padding: 2rem 0 2rem 4rem;
    &-slider {
      height: calc(100% - 55px);
      .highlightVideoSwiper {
        height: 100%;
        .swiper-wrapper {
          height: inherit;
        }
      }

      .image-wrapper {
        border-radius: 20px;
        overflow: hidden;
        height: calc(100% - 30%);
        max-height: 280px;
        aspect-ratio: 1.73 / 1;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .video__detail {
        p {
          padding: 10px;
          span {
            color: #fff;
            display: block;
            font-size: 18px;
            line-height: 26px;
          }
        }
      }
    }
  }
}
